In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("crime.csv", encoding="latin1")           ## encoding =latin1 because it include words of another language,special character
df

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
319069,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319070,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319071,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"
319072,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903,NaN,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)"

In [4]:
df.head(5)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"

In [5]:
df.tail(5)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
319068,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
319069,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319070,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319071,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"
319072,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903,NaN,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)"

In [6]:
df.info()                ## give information about data type and nll values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319073 entries, 0 to 319072
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      319073 non-null  object
 1   OFFENSE_CODE         319073 non-null  int64
 2   OFFENSE_CODE_GROUP   319073 non-null  object
 3   OFFENSE_DESCRIPTION  319073 non-null  object
 4   DISTRICT             317308 non-null  object
 5   REPORTING_AREA       319073 non-null  object
 6   SHOOTING             1019 non-null    object
 7   OCCURRED_ON_DATE     319073 non-null  object
 8   YEAR                 319073 non-null  int64
 9   MONTH                319073 non-null  int64
 10  DAY_OF_WEEK          319073 non-null  object
 11  HOUR                 319073 non-null  int64
 12  UCR_PART             318983 non-null  object
 13  STREET               308202 non-null  object
 14  Lat                  299074 non-null  float64
 15  Long                 299074 non-null  float64
 16  Location             319073 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 41.4+ MB

In [7]:
df.describe()  ## determine mean,sd,var

,OFFENSE_CODE,YEAR,MONTH,HOUR,Lat,Long
count,319073.000000,319073.000000,319073.000000,319073.000000,299074.000000,299074.000000
mean,2317.546956,2016.560586,6.609719,13.118205,42.214381,-70.908272
std,1185.285543,0.996344,3.273691,6.294205,2.159766,3.493618
min,111.000000,2015.000000,1.000000,0.000000,-1.000000,-71.178674
25%,1001.000000,2016.000000,4.000000,9.000000,42.297442,-71.097135
50%,2907.000000,2017.000000,7.000000,14.000000,42.325538,-71.077524
75%,3201.000000,2017.000000,9.000000,18.000000,42.348624,-71.062467
max,3831.000000,2018.000000,12.000000,23.000000,42.395042,-1.000000

In [8]:
df.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP',
       'OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING',
       'OCCURRED_ON_DATE', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART',
       'STREET', 'Lat', 'Long', 'Location'],
      dtype='object')

In [9]:
df.shape

(319073, 17)

In [10]:
df.size

5424241

In [11]:
df.index

RangeIndex(start=0, stop=319073, step=1)

In [12]:
df.value_counts()

INCIDENT_NUMBER  OFFENSE_CODE  OFFENSE_CODE_GROUP  OFFENSE_DESCRIPTION                            DISTRICT  REPORTING_AREA  SHOOTING  OCCURRED_ON_DATE     YEAR  MONTH  DAY_OF_WEEK  HOUR  UCR_PART    STREET         Lat        Long        Location
I182069509       413           Aggravated Assault  ASSAULT - AGGRAVATED - BATTERY                 E18       540             Y         2018-08-29 23:19:00  2018  8      Wednesday    23    Part One    HILLIS RD      42.250405  -71.131737  (42.25040550, -71.13173740)    1
I152050036       413           Aggravated Assault  ASSAULT - AGGRAVATED - BATTERY                 B2        326             Y         2015-06-16 20:41:00  2015  6      Tuesday      20    Part One    LAWRENCE AVE   42.311611  -71.076256  (42.31161123, -71.07625600)    1
I152050961       413           Aggravated Assault  ASSAULT - AGGRAVATED - BATTERY                 B2        286             Y         2015-06-19 21:20:00  2015  6      Friday       21    Part One    KERR WAY       42.333584  -71.085543  (42.33358389, -71.08554259)    1
I152051161       413           Aggravated Assault  ASSAULT - AGGRAVATED - BATTERY                 B2        238             Y         2015-06-20 00:00:00  2015  6      Saturday     0     Part One    DUDLEY ST      42.317808  -71.066850  (42.31780762, -71.06684990)    1
                 1501          Firearm Violations  WEAPON - FIREARM - CARRYING / POSSESSING, ETC  B2        238             Y         2015-06-20 00:00:00  2015  6      Saturday     0     Part Two    DUDLEY ST      42.317808  -71.066850  (42.31780762, -71.06684990)    1
                                                                                                                                                                                                                                                                           ..
I152054324       413           Aggravated Assault  ASSAULT - AGGRAVATED - BATTERY                 B3        427             Y         2015-07-01 13:59:00  2015  7      Wednesday    13    Part One    FESSENDEN ST   42.278560  -71.091997  (42.27855984, -71.09199697)    1
I152053353       3130          Search Warrants     SEARCH WARRANT                                 C11       364             Y         2015-07-23 11:12:00  2015  7      Thursday     11    Part Three  BRENT ST       42.290265  -71.065990  (42.29026471, -71.06599003)    1
                 1503          Firearm Violations  WEAPON - OTHER - CARRYING / POSSESSING, ETC    C11       364             Y         2015-07-23 11:12:00  2015  7      Thursday     11    Part Two    BRENT ST       42.290265  -71.065990  (42.29026471, -71.06599003)    1
                 413           Aggravated Assault  ASSAULT - AGGRAVATED - BATTERY                 C11       364             Y         2015-07-23 11:12:00  2015  7      Thursday     11    Part One    BRENT ST       42.290265  -71.065990  (42.29026471, -71.06599003)    1
I152053337       1402          Vandalism           VANDALISM                                      E13       583             Y         2015-06-27 22:59:00  2015  6      Saturday     22    Part Two    ROUND HILL ST  42.324692  -71.106189  (42.32469169, -71.10618924)    1
Name: count, Length: 971, dtype: int64

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.isnull().sum()            ## check any column is empty

INCIDENT_NUMBER             0
OFFENSE_CODE                0
OFFENSE_CODE_GROUP          0
OFFENSE_DESCRIPTION         0
DISTRICT                 1765
REPORTING_AREA              0
SHOOTING               318054
OCCURRED_ON_DATE            0
YEAR                        0
MONTH                       0
DAY_OF_WEEK                 0
HOUR                        0
UCR_PART                   90
STREET                  10871
Lat                     19999
Long                    19999
Location                    0
dtype: int64

In [15]:
df = df.drop(columns = ["INCIDENT_NUMBER","STREET","Location","OFFENSE_CODE"])  ## delete these columns

In [16]:
df

,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,Lat,Long
0,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,42.357791,-71.139371
1,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,42.306821,-71.060300
2,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,42.346589,-71.072429
3,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,42.334182,-71.078664
4,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,42.275365,-71.090361
...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,42.336951,-71.085748
319069,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,42.255926,-71.123172
319070,Warrant Arrests,WARRANT ARREST,E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,42.255926,-71.123172
319071,Warrant Arrests,WARRANT ARREST,E13,569,NaN,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,42.302333,-71.111565
319072,Warrant Arrests,WARRANT ARREST,D4,903,NaN,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,42.333839,-71.080290

In [17]:
df['SHOOTING'] = df['SHOOTING'].fillna('0')        ## fill 0 inplace of nan and 1 in place of yess

df['SHOOTING'] = df['SHOOTING'].replace({'Y': 1, '0': 0})

C:\Users\hp\AppData\Local\Temp\ipykernel_11952\1043851764.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['SHOOTING'] = df['SHOOTING'].replace({'Y': 1, '0': 0})

In [18]:
df

,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,Lat,Long
0,Larceny,LARCENY ALL OTHERS,D14,808,0,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,42.357791,-71.139371
1,Vandalism,VANDALISM,C11,347,0,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,42.306821,-71.060300
2,Towed,TOWED MOTOR VEHICLE,D4,151,0,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,42.346589,-71.072429
3,Investigate Property,INVESTIGATE PROPERTY,D4,272,0,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,42.334182,-71.078664
4,Investigate Property,INVESTIGATE PROPERTY,B3,421,0,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,42.275365,-71.090361
...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,Warrant Arrests,WARRANT ARREST,D4,285,0,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,42.336951,-71.085748
319069,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,0,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,42.255926,-71.123172
319070,Warrant Arrests,WARRANT ARREST,E18,520,0,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,42.255926,-71.123172
319071,Warrant Arrests,WARRANT ARREST,E13,569,0,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,42.302333,-71.111565
319072,Warrant Arrests,WARRANT ARREST,D4,903,0,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,42.333839,-71.080290

In [19]:
from sklearn.preprocessing import LabelEncoder         ## change these columns into the numerical data from text 


label_cols = ['DISTRICT', 'DAY_OF_WEEK', 'UCR_PART']


for col in label_cols:
    df[col] = LabelEncoder().fit_transform(df[col].astype(str))
print(df)

          OFFENSE_CODE_GROUP                  OFFENSE_DESCRIPTION  DISTRICT  \
0                    Larceny                   LARCENY ALL OTHERS         7
1                  Vandalism                            VANDALISM         5
2                      Towed                  TOWED MOTOR VEHICLE         8
3       Investigate Property                 INVESTIGATE PROPERTY         8
4       Investigate Property                 INVESTIGATE PROPERTY         4
...                      ...                                  ...       ...
319068       Warrant Arrests                       WARRANT ARREST         8
319069              Homicide  MURDER, NON-NEGLIGIENT MANSLAUGHTER        10
319070       Warrant Arrests                       WARRANT ARREST        10
319071       Warrant Arrests                       WARRANT ARREST         9
319072       Warrant Arrests                       WARRANT ARREST         8

       REPORTING_AREA  SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH  \
0                 808         0  2018-09-02 13:00:00  2018      9
1                 347         0  2018-08-21 00:00:00  2018      8
2                 151         0  2018-09-03 19:27:00  2018      9
3                 272         0  2018-09-03 21:16:00  2018      9
4                 421         0  2018-09-03 21:05:00  2018      9
...               ...       ...                  ...   ...    ...
319068            285         0  2016-06-05 17:25:00  2016      6
319069            520         0  2015-07-09 13:38:00  2015      7
319070            520         0  2015-07-09 13:38:00  2015      7
319071            569         0  2016-05-31 19:35:00  2016      5
319072            903         0  2015-06-22 00:12:00  2015      6

        DAY_OF_WEEK  HOUR  UCR_PART        Lat       Long
0                 3    13         1  42.357791 -71.139371
1                 5     0         3  42.306821 -71.060300
2                 1    19         2  42.346589 -71.072429
3                 1    21         2  42.334182 -71.078664
4                 1    21         2  42.275365 -71.090361
...             ...   ...       ...        ...        ...
319068            3    17         2  42.336951 -71.085748
319069            4    13         1  42.255926 -71.123172
319070            4    13         2  42.255926 -71.123172
319071            5    19         2  42.302333 -71.111565
319072            1     0         2  42.333839 -71.080290

[319073 rows x 13 columns]

In [20]:
from sklearn.preprocessing import LabelEncoder    ## change offense code group into numerical data form 

le_y = LabelEncoder()
df["OFFENSE_CODE_GROUP"] = le_y.fit_transform(df["OFFENSE_CODE_GROUP"])

print(df)

        OFFENSE_CODE_GROUP                  OFFENSE_DESCRIPTION  DISTRICT  \
0                       34                   LARCENY ALL OTHERS         7
1                       63                            VANDALISM         5
2                       62                  TOWED MOTOR VEHICLE         8
3                       32                 INVESTIGATE PROPERTY         8
4                       32                 INVESTIGATE PROPERTY         4
...                    ...                                  ...       ...
319068                  66                       WARRANT ARREST         8
319069                  29  MURDER, NON-NEGLIGIENT MANSLAUGHTER        10
319070                  66                       WARRANT ARREST        10
319071                  66                       WARRANT ARREST         9
319072                  66                       WARRANT ARREST         8

       REPORTING_AREA  SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH  \
0                 808         0  2018-09-02 13:00:00  2018      9
1                 347         0  2018-08-21 00:00:00  2018      8
2                 151         0  2018-09-03 19:27:00  2018      9
3                 272         0  2018-09-03 21:16:00  2018      9
4                 421         0  2018-09-03 21:05:00  2018      9
...               ...       ...                  ...   ...    ...
319068            285         0  2016-06-05 17:25:00  2016      6
319069            520         0  2015-07-09 13:38:00  2015      7
319070            520         0  2015-07-09 13:38:00  2015      7
319071            569         0  2016-05-31 19:35:00  2016      5
319072            903         0  2015-06-22 00:12:00  2015      6

        DAY_OF_WEEK  HOUR  UCR_PART        Lat       Long
0                 3    13         1  42.357791 -71.139371
1                 5     0         3  42.306821 -71.060300
2                 1    19         2  42.346589 -71.072429
3                 1    21         2  42.334182 -71.078664
4                 1    21         2  42.275365 -71.090361
...             ...   ...       ...        ...        ...
319068            3    17         2  42.336951 -71.085748
319069            4    13         1  42.255926 -71.123172
319070            4    13         2  42.255926 -71.123172
319071            5    19         2  42.302333 -71.111565
319072            1     0         2  42.333839 -71.080290

[319073 rows x 13 columns]

In [21]:
X = df.drop(columns = ["OFFENSE_CODE_GROUP"])    ## except this other are inputs
y = df["OFFENSE_CODE_GROUP"]                     ## except this others are predicted

In [22]:
from sklearn.model_selection import train_test_split   ## split the train and test part 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [23]:
print(X_train.dtypes)      ## check datatype of x_train

OFFENSE_DESCRIPTION     object
DISTRICT                 int64
REPORTING_AREA          object
SHOOTING                 int64
OCCURRED_ON_DATE        object
YEAR                     int64
MONTH                    int64
DAY_OF_WEEK              int64
HOUR                     int64
UCR_PART                 int64
Lat                    float64
Long                   float64
dtype: object

In [24]:
from sklearn.preprocessing import LabelEncoder       

label_encoders = {}                 ## also use for decode the function


for col in X_train.select_dtypes(include='object').columns:       ## we will select only the column of text type not numerical
    le = LabelEncoder()

    combined = pd.concat([X_train[col], X_test[col]], axis=0).astype(str)    ## combine train and test part convert to numerical

    le.fit(combined)

    X_train[col] = le.transform(X_train[col].astype(str))          ## column of x_train into numerical
    X_test[col] = le.transform(X_test[col].astype(str))             ## column of x_test into numerical

    label_encoders[col] = le

In [25]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=100, random_state=42)     ## almost 100 trees 
clf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [26]:
from sklearn.metrics import accuracy_score, classification_report

y_pred = clf.predict(X_test)            ## predict y from test data



accuracy = accuracy_score(y_test, y_pred)       ## check accuracy 
print(accuracy)


print("\nClassification Report\n:", classification_report(y_test, y_pred))     #3 prepare a classification report

0.9811329624696388

Classification Report
:               precision    recall  f1-score   support

           0       1.00      1.00      1.00      1562
           1       1.00      1.00      1.00         7
           2       1.00      1.00      1.00        19
           3       0.97      0.73      0.84       191
           4       0.99      1.00      1.00       970
           5       0.95      1.00      0.98       210
           6       0.94      0.94      0.94       196
           8       1.00      0.13      0.24        15
          10       0.94      0.99      0.97       267
          11       0.90      1.00      0.94       630
          12       0.82      0.88      0.85       291
          13       0.67      0.08      0.14        26
          14       0.93      0.99      0.96       522
          15       0.99      1.00      0.99      3310
          16       0.65      0.22      0.33        59
          17       0.76      0.27      0.40        81
          18       0.00      0.00      0.00         5
          19       0.94      0.95      0.94       384
          20       0.98      0.89      0.93       140
          21       0.91      0.99      0.95       355
          22       0.95      1.00      0.97      1166
          23       1.00      0.50      0.67         2
          24       0.92      0.73      0.81        15
          25       0.00      0.00      0.00         1
          27       0.95      0.99      0.97       802
          28       0.95      0.88      0.91        42
          29       1.00      0.94      0.97        32
          30       0.00      0.00      0.00         1
          31       0.99      1.00      0.99      3750
          32       0.99      1.00      1.00      2225
          33       1.00      0.95      0.98       194
          34       1.00      1.00      1.00      5187
          35       0.99      1.00      1.00      2170
          36       1.00      0.54      0.71       112
          37       1.00      1.00      1.00       340
          38       0.99      1.00      0.99       210
          39       0.00      0.00      0.00         2
          40       0.99      1.00      0.99      4708
          41       0.91      0.94      0.92       992
          42       0.89      0.92      0.90       760
          43       1.00      1.00      1.00      7427
          44       0.81      0.72      0.76       109
          45       0.95      0.70      0.80       115
          46       0.96      0.95      0.95      3615
          47       0.97      0.74      0.84        92
          48       0.00      0.00      0.00         6
          49       0.96      0.97      0.97       556
          50       1.00      0.20      0.33        51
          51       0.92      0.92      0.92       785
          52       0.94      1.00      0.97      1950
          53       0.95      0.63      0.76       182
          54       0.97      0.71      0.82        41
          55       0.90      0.79      0.84       291
          56       1.00      1.00      1.00      1121
          57       0.99      0.98      0.98       321
          58       1.00      1.00      1.00       925
          59       0.97      0.81      0.88       193
          60       1.00      0.88      0.93        57
          61       1.00      1.00      1.00      3165
          62       1.00      1.00      1.00      2258
          63       1.00      0.99      0.99      3083
          64       1.00      1.00      1.00      2620
          65       0.99      0.99      0.99      1219
          66       1.00      1.00      1.00      1682

    accuracy                           0.98     63815
   macro avg       0.88      0.79      0.81     63815
weighted avg       0.98      0.98      0.98     63815

c:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))